* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper header {
  padding: 40px 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logo .logo-text {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

nav .togglebtn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 45px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
  display: none;
}

nav .togglebtn span {
  display: block;
  background-color: #ed008a;
  margin: 5px 0px;
  width: 100%;
  height: 3px;
  transition: 0.3s;
  transition-property: transform, opacity;
}

nav .navlinks {
  list-style-type: none;
}

nav .navlinks li {
  display: inline-block;
}

nav .navlinks li a {
  color: #e5e5e5;
  margin-right: 2.5rem;
}

/* Responsive design for displaying navbar on small screens */
@media (max-width: 930px) {
  nav .togglebtn {
    display: initial;
  }

  /* for toggle button */
  .click {
    top: 45px;
  }
  
  .click span {
    position: absolute;
    margin-top: 12px;
  }
  
  .click span:first-child {
    transform: rotate(-40deg);
  }
  
  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }
  
  .click span:last-child {
    transform: rotate(45deg);
    top: 0;
  }

  nav .navlinks {
    position: absolute;
    top: 110px;
    right: -100%;
    bottom: 0;
    width: 60%;
    height: 100vh;
    background-color: #222;
    z-index: 3;
    box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    padding: 25px 0px;
  }

  nav .navlinks li {
    display: block;
  }

  nav .navlinks li a {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }

  nav .navlinks.open {
    right: 0;
  }
}

